@model PagedList.IPagedList<WebSales.Models.Manager.ManagerIndexView>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    bool isValidForAction = (Request.IsAuthenticated && User.IsInRole("Admin"));
}


<div class="mainBtnContainer">
    <button id="filterBtn" type="button" class="btn btn-success">Filters</button>
</div>

<div id="form_container" hidden class="col-sm-8">
    <form id="form_filter">
        <div class="form-inline">
            <div class="form-group">
                <label>Name: </label>
                @Html.TextBox("Name", ViewBag.Filter.Name as string, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Age: </label>
                @Html.TextBox("Age", ViewBag.Filter.Age as string, new { @class = "form-control" })
            </div>
        </div>
        <hr />
        <div id="search_button" class="form-inline">
            <div class="form-group row">
                <div class="form-inline">
                    <button id="searchBtn" type="submit" class="btn btn-primary">Search</button>
                    <button id="cleanBtn" type="submit" class="btn btn-primary">Clean</button>
                </div>
            </div>
        </div>
    </form>
</div>

@if (Model.Count() > 0)
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Age</th>
                @if (isValidForAction)
                {
                    <th scope="col">Function</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var seller in Model)
            {
                <tr>
                    <th scope="row">@seller.Id</th>
                    <td>@seller.Name</td>
                    <td>@seller.Age</td>
                    @if (isValidForAction)
                    {
                        <td>
                            <a href="#" onclick="return openEditForm(@seller.Id)">Edit</a> | <a href="#" onclick="return deleteManager(@seller.Id)">Delete</a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h2>Database is empty!</h2>
}

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Load", new { page }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "data_sellers" }))

<script>
    $("#filterBtn").click(() => {
        $("#form_container").toggle();
    })

    $("#searchBtn").click((event) => {
        event.preventDefault();
        $("#form_container").toggle();
        load($("#form_filter").serialize());
    })

    $("#cleanBtn").click((event) => {
        event.preventDefault();
        $("#form_filter :input").each(function () {
            $(this).val("");
        })
    })
</script>