@model WebSales.Models.Sale.SalesListViewModel

@Scripts.Render("~/bundles/jqueryval")

<div class="modal fade" id="modalEdite" tabindex="-1" role="dialog" aria-labelledby="nameModalOperation" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 id="nameModalOperation" class="modal-title">Editing</h4>
            </div>
            <div class="modal-body">
                <form id="saveForm">
                    <label id="serverError"></label>
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(m => m.Id)

                    <div class="form-group" id="createForm">
                        @Html.LabelFor(m => m.Managers)
                        @Html.DropDownListFor(m => m.ManagerId, Model.Managers as SelectList, new { @class = "form-control", @name = "Managerss" })
                        @Html.ValidationMessageFor(model => model.Managers)
                    </div>
                    <div class="form-group" id="createForm">
                        @Html.LabelFor(m => m.Clients)
                        @Html.DropDownListFor(m => m.ClientId, Model.Clients, new { @class = "form-control", @name = "Clients" })
                        @Html.ValidationMessageFor(model => model.Clients)
                    </div>
                    <div class="form-group" id="createForm">
                        @Html.LabelFor(m => m.Products)
                        @Html.DropDownListFor(m => m.ProductId, Model.Products, new { @class = "form-control", @name = "Products" })
                        @Html.ValidationMessageFor(model => model.Products)
                    </div>
                    <div class="form-group" id="createForm">
                        @Html.LabelFor(m => m.Sum)
                        @Html.TextBoxFor(m => m.Sum, new { @class = "form-control", @name = "Cost" })
                        @Html.ValidationMessageFor(model => model.Sum)
                    </div>
                    <div class="form-group" id="createForm">
                        @Html.LabelFor(m => m.Date)
                        @Html.TextBoxFor(m => m.Date, new { @class = "form-control", @name = "Date" })
                        @Html.ValidationMessageFor(model => model.Date)
                    </div>

                    <input id="createBtn" type="submit" class="btn btn-success" value="Update" />
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#modalEdite").ready(() => {
        showEditeForm();
    });

    $('form').on('submit', function (event) {
        event.preventDefault();

        $.ajax({
            type: 'POST',
            url: '@Url.Action("Edit", "Sale")',
            data: $("#saveForm").serialize(),
            success: function (result) {
                if (result.result) {
                    hideEditeForm();
                    load();
                }
                else {
                    var message = result.message != undefined ? result.message : "Error on server";
                    $("#serverError").text(message);
                }
            }
        })
    })

    function showEditeForm() {
        $("#modalEdite").modal();
    }

    function hideEditeForm() {
        $("#modalEdite").modal('hide');
    }
</script>